.Skill {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.Skill_List li {
    margin-right: 20px;
    margin-bottom: 30px;
}
.Skill_Label:nth-child(1){
    margin-top:30px;
}
.Skill_Label {
    font-size: 1.2em;
    line-height: 1em;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 14px 8px;
}

